body {
    background-color: #141414; 
    font-family: "Arial", sans-serif; 
    padding: 0%; 
    font-size: 12pt; 
    font-weight: bold
}

#container {
    margin-top: 100px; 
    max-width: 640px;
    height: 300px; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
    margin-left: auto; 
    margin-right: auto;
}   

h2 {
    color: #0078d7;
    margin-bottom: 30px; 
    font-size: 16pt;
}

.link a {
    color: #333;
    -webkit-transition: .1s ease; 
    transition: .1s ease;
    text-decoration: none;
}

.link a:hover {
    color: #0078d7;
    text-decoration: none;
}

.link {
    height: 40px; 
    width: 50px; 
    padding: 5px; 
    margin: 10px; 
    margin-left: auto; 
    margin-right: auto;
} 

.border {
    border: 1px solid #141414; 
    width: 100px; 
    height: 300px;
    -webkit-transition: .5s ease; 
    transition: .5s ease; 
    text-align: center;
    margin: 10px
}

.border:hover {
    
}

img{
    
}

@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
    }
